@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Kaisei Decol', serif;
}

h1 {
    text-align: center;
}

p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    max-width: 600px;
    margin: 0 auto;
    align-content: center;
}

.link {
    text-align: center;
    margin-bottom: 50px;
}

.section {
    margin: 50px 20px;
}

#color-grid {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#color-grid p {
    min-width: 100px;
    height: 100px;
    padding: 15px;
    margin: 5px;
}

#primary-color {
    background-color: #006D77;
    color: white;
}

#secondary-color {
    background-color: #83C5BE;
}

#third-color {
    background-color: #EDF6F9;
}

#accent-color {
    background-color: #E29578;
}

.wireframe-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 15px;
}

.wireframe-grid img {
    width: 100%;
}

h4 {
    margin: 60px 0 10px 0;
}

@media only screen and (max-width: 500px) {
    
    #color-grid {
        display: block;
    }

    #color-grid p {
        height: 75px;
    }
}