@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Yeseva+One&display=swap');

/****** Mobile ******/

/*** HOME ***/
body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Yeseva One', Georgia, serif;
}

h2, h3, h4, h5 {
    font-family: 'Just Another Hand', Georgia, serif;
}

p, a, ul, table {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

/* Menu */
nav {
    background-color: rgba(255, 255, 255, 0.925);
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    top: 0px;
    right: 0;
    transition: 1s;
    padding-top: 60px;
}

nav a {
    color: #443742;
    text-decoration: none;
    font-size: 18pt;
    display: block;
    text-align: right;
    padding: 20px 30px;
    transition: 1s;
}

.active {
    color: #e29578;
}

#menu-btn {
    text-align: right;
    display: block;
}

#menu {
    display: block;
    position: fixed;
    min-height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.301);
}

#menu img {
    width: 30px;
    padding: 15px 30px 15px 10px;
}

#closebtn {
    text-align: right;
    display: none;
}


/* Intro */
#hello-box {
    background-color: #443742;
    margin-top: -40px;
    margin-bottom: -40px;
    width: 100%;
    height: 800px;
    color: white;
}

#hello-box h1, #xp-title-box h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
}

#intro {
    background-color: #83c5be;
    height: 800px;
    width: 100%;
}

#intro h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
    margin-bottom: 0;
}

#intro h2 {
    font-size: 30pt;
    font-weight: normal;
    text-align: center;
    margin-top: 15px;
}


/* Parallax image */
#parallax-img {
    background-image: url("../images/engagement-900w.webp");
    height: 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#arrows img {
    width: 60px;
}

#first-arrow {
    transform: rotate(180deg);
    transform: scaleX(-1);
    position: relative;
    display: block;
    margin: 0 0 0 auto;
    top: 110px;
    right: 9%;
}

#second-arrow {
    position: relative;
    display: block;
    top: 250px;
    left: 10%;
}

#thats-me {
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    padding-top: 80px;
    text-align: center;
    font-size: 12pt;
}


/* About Me */

#about-me {
    background-color: #006d77;
    margin-top: -40px;
    width: 100%;
    height: 1000px;
    color: white;
}

#about-me h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
    margin-bottom: 0;
}

#about-me ul {
    font-size: 18pt;
    font-weight: 200;
    text-align: left;
    max-width: 300px;
    margin: 20px auto;
}

#about-me li {
    padding-top: 20px;
    padding-left: 15px;
}


/* Soul Mates */
#soul-mates {
    margin-top: -40px;
    width: 100%;
    height: 950px;
    color: #443742;
}

#soul-mates h2 {
    padding: 300px 15px 0 15px;
    text-align: center;
    font-size: 58pt;
    font-weight: normal;
    margin-bottom: 0;
    line-height: .75;
}

#soul-mates p {
    font-size: 18pt;
    font-weight: 200;
    text-align: left;
    max-width: 300px;
    margin: 20px auto;
}


/* Dreams & Goals */
#dreams {
    margin-top: -40px;
    width: 100%;
    height: 1200px;
    background-color: #e29578;
}

#dreams h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
    margin-bottom: 0;
}

#dreams h2 {
    font-size: 24pt;
    line-height: 1em;
    margin: 10px auto;
}

#dream-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    column-gap: 60px;
    row-gap: 40px;
    text-align: center;
    font-size: 12pt;
    width: 300px;
}

#dream-flexbox img {
    width: 55px;
    display: block;
    margin: 0 auto;
}


/* Site Timeline */
#site-timeline {
    margin-top: -40px;
    width: 100%;
    height: 970px;
    background-color: #443742;
    color: white;
}

#site-timeline h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
    margin-bottom: 0;
}

#site-timeline table {
    font-size: 18pt;
    font-weight: 200;
    text-align: left;
    margin: 30px auto;
    max-width: 550px;
    padding: 0 15px;
}

.right {
    text-align: right;
    padding: 15px;    
    vertical-align: top;
}

.left {
    padding: 15px;
    vertical-align: top;
}


/* Footer */
footer {
    background-color: white;
    color: black;
    padding: 40px;    
    text-align: center;
}

#social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto 30px auto;
}

#social img {
    width: 50px;
}

#copyright-flex {
    display: flex;
    justify-content: space-evenly;
    max-width: 350px;
    margin: 0 auto;
    gap: 50px;
}

.copyright {
    font-size: 12pt;
    margin: 16px auto;
}

footer a {
    color: black;
}

.credits {
    font-size: 8pt;
    margin: 40px auto auto auto;
}



/*** EXPERIENCE ***/

#xp-title-box {
    background-color: #006d77;
    margin-top: -40px;
    margin-bottom: -40px;
    width: 100%;
    height: 800px;
    color: white;
}

.xp-img {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.xp-img img{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
}

.xp-box {
    max-width: 100%;
    background-color: lightgray;
    margin-top: 60px;
}

.xp-box h2 {
    font-size: 64pt;
    font-weight: normal;
    margin: 0;
    color: white;
}

.xp {
    max-width: 70%;
    margin: 0 auto;
    font-size: 15pt;
    padding: 40px;
}

.xp-list {
    padding-left: 10px;
}

/*** Medium ***/
@media screen and (min-width: 501px) {

    /* Menu */
    nav a:hover {
        background-color: white;
        transition: 0.2s;
    }


    /* Parallax Image */
    #parallax-img {
        height: 800px;
        background-attachment: fixed;
    }

    #arrows img {
        width: 80px;
    }

    #arrows {
        max-width: 700px;
    }

    #first-arrow {
        top: 230px;
    }
    
    #second-arrow {
        top: 430px;
    }
    
    #thats-me {
        padding-top: 200px;
        font-size: 18pt;
        max-width: 500px;
    }

}




/*** Large ***/
@media screen and (min-width: 750px) {

    /* Menu */
    nav {
        background-color: #44374291;
        height: 64px;
        width: 100%;
        display: flex;        
        justify-content: space-evenly;
        transition: none;
        padding-top: 0;
    }

    #navigation {
        width: 100% !important;
    }
    
    nav a {
        color: rgba(255, 255, 255, 0.582);
        text-align: center;
        transition: none;
        padding: 15px;
        border-top: 5px solid transparent;
    }
    
    .active {
        border-top: 5px solid #e29578;
        color: white;
    }

    nav a:hover {
        color: white;
        background-color: transparent;
    }

    #menu {
        display: none;
    }
    
    #menu-btn {
        display: none;
    }
    
    #closebtn {
        display: none;
    }


    /* Parallax */
    #parallax-img {
        background-image: fixed;
        background-image: url("../images/engagement-1920w.webp");
    }

    #engagement-parallax {
        display: block;
        width: 100%;
    }

    #arrows {
        max-width: 700px;
        margin: 0 auto;
    }
    
    #first-arrow {
        top: 190px;
        right: 9%;
    }
    
    #second-arrow {
        top: 400px;
        left: 10%;
    }
    
    #thats-me {
        max-width: 500px;
        margin: 0 auto;
        padding-top: 150px;
    }


    /* Dreams & Goals */
    #dreams {
        height: 1100px;
    }

    #dream-flexbox {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 60px;
        width: 500px;
    }
    
    #dream-flexbox img {
        width: 64px;
    }


    /* Site Timeline */
    #site-timeline table {
        max-width: 600px;
    }


    /* Footer */
    #footer-flex {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 700px;
        margin: 0 auto;
    }
}
