@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Yeseva+One&display=swap');


/**** Mobile ****/

body {
    margin: 0;
}

h1 {
    font-family: 'Yeseva One', Georgia, serif;
}

h2, h3, h4, h5 {
    font-family: 'Just Another Hand', Georgia, serif;
}

p, a, ul {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

/* Menu */
nav {
    background-color: rgba(255, 255, 255, 0.925);
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    top: 0px;
    right: 0;
    transition: 1s;
    padding-top: 60px;
}

nav a {
    color: #443742;
    text-decoration: none;
    font-size: 18pt;
    display: block;
    text-align: right;
    padding: 20px 30px;
    transition: 1s;
}

.active {
    color: #e29578;
}

#menu-btn {
    text-align: right;
    display: block;
}

#menu {
    display: block;
    position: fixed;
    min-height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.301);
}

#menu img {
    width: 30px;
    padding: 15px 30px 15px 10px;
}

#closebtn {
    text-align: right;
    display: none;
}


/* Intro */
#hello-box {
    background-color: #443742;
    margin-top: -40px;
    margin-bottom: -40px;
    width: 100%;
    height: 800px;
    color: white;
}

#hello-box h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
}

#intro {
    background-color: #83c5be;
    height: 800px;
    width: 100%;
}

#intro h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
    margin-bottom: 0;
}

#intro h2 {
    font-size: 30pt;
    font-weight: normal;
    text-align: center;
    margin-top: 15px;
}


/* Parallax image */
#parallax-img {
    background-image: url("../images/engagements-123-min.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-img img {
    width: 80px;
}

#first-arrow {
    transform: rotate(180deg);
    transform: scaleX(-1);
    position: relative;
    display: block;
    margin: 0 0 0 auto;
    top: 230px;
    right: 9%;
}

#second-arrow {
    position: relative;
    display: block;
    top: 430px;
    left: 10%;
}

#thats-me {
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    padding-top: 200px;
    text-align: center;
    font-size: 18pt;
}


/* About Me */

#about-me {
    background-color: #006d77;
    margin-top: -40px;
    width: 100%;
    height: 1000px;
    color: white;
}

#about-me h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
    margin-bottom: 0;
}

#about-me ul {
    font-size: 18pt;
    font-weight: 200;
    text-align: left;
    max-width: 300px;
    margin: 20px auto;
}

#about-me li {
    padding-top: 20px;
    padding-left: 15px;
}


/* Soul Mates */
#soul-mates {
    margin-top: -40px;
    width: 100%;
    height: 950px;
    color: #443742;
}

#soul-mates h2 {
    padding-top: 300px;
    text-align: center;
    font-size: 48pt;
    font-weight: normal;
    margin-bottom: 0;
}

#soul-mates p {
    font-size: 18pt;
    font-weight: 200;
    text-align: left;
    max-width: 300px;
    margin: 20px auto;
}


/* Dreams & Goals */
#dreams {
    margin-top: -40px;
    width: 100%;
    height: 1200px;
    background-color: #e29578;
}

#dreams h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 36pt;
    font-weight: normal;
    margin-bottom: 0;
}

#dreams h2 {
    font-size: 24pt;
    line-height: 1em;
    margin: 10px auto;
}

#dream-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    column-gap: 60px;
    row-gap: 40px;
    text-align: center;
    font-size: 12pt;
    width: 300px;
}

#dream-flexbox img {
    width: 55px;
    display: block;
    margin: 0 auto;
}

/* Dreams and Goals
#dreams-goals {
    background-color: white;
    color: #443742;
    padding: 80px 40px 120px 40px;
}

#dreams-goals h2 {
    font-size: 40pt;
    margin-bottom: 40px;
    line-height: 1.2;
}

#dreams-goals p {
    font-weight: 400;
    font-size: 15pt;
}

/* Interests
#interests {
    background-color: #83c5be;
    color: #443742;
    padding: 80px 40px 120px 40px;
}

#interests h2 {
    font-size: 40pt;
    margin-bottom: 40px;
}

#interests p {
    font-weight: 400;
    font-size: 15pt;
}

/* This Site
#site-info {
    background-color: #443742;
    color: white;
    padding: 80px 40px 120px 40px;
}

#site-info h2 {
    font-size: 40pt;
    margin-bottom: 40px;
}

#site-info p {
    font-weight: 300;
    font-size: 15pt;
}

/* Buttons
#buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 80px auto;
    text-align: center;
}

#buttons a {
    text-decoration: none;
    color: white;
    min-width: 100px;
    padding: 25px;
    font-size: 18pt;
}

#ex-button {
    background-image: linear-gradient(to bottom right, #E29578 , #CA552B);
}

#portfolio-button {
    background-image: linear-gradient(to bottom right, #006D77 , #83C5BE);
} */

/* Footer */
footer {
    background-color: #443742;
    color: white;
    padding: 40px;    
    text-align: center;
}

#social {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto 30px auto;
}

#social img {
    width: 50px;
}

.copyright {
    font-size: 12pt;
}

footer a {
    color: white;
}

.credits {
    font-size: 8pt;
    margin: 40px auto auto auto;
}

/* nav a:hover {
    background-color: #006d77;
    color: white;
    transition: 0.2s;
} */
